@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

body {
  font-family: 'Hind', sans-serif; }

/* reset */
.header_diseño {
  text-align: center;
  background-color: #B1DDF1;
  width: 100%; }
  .header_diseño img {
    width: 20vh; }

/* header de las paginas */
.nav_diseño {
  background: #1b1b1b; }

.nav_logo {
  float: left;
  color: #ffffff;
  font-size: 27px;
  font-weight: 500;
  line-height: 70px;
  padding-left: 60px; }

.nav_diseño:after {
  content: '';
  clear: both;
  display: table; }

.nav_diseño ul {
  float: right;
  margin-right: 40px;
  position: relative; }

.nav_diseño ul li {
  float: left;
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px; }

.nav_diseño ul li a {
  color: #ffffff;
  line-height: 70px;
  font-size: 16px;
  padding: 8px 15px; }

.nav_diseño ul li a:hover {
  border-radius: 5px;
  box-shadow: 0 0 5px #33ffff, 0 0 5px #66ffff; }

.nav_diseño ul ul li a:hover {
  color: #33ffff;
  box-shadow: none; }

.nav_diseño ul ul {
  position: absolute;
  top: 90px;
  border-top: 3px solid #66ffff;
  opacity: 0;
  visibility: hidden;
  transition: top .3s; }

.nav_diseño ul ul ul {
  border-top: none; }

.nav_diseño ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible; }

.nav_diseño ul ul li {
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

.nav_diseño ul ul li a {
  line-height: 50px; }

.nav_diseño ul ul ul li {
  position: relative;
  top: -70px;
  left: 150px; }

.nav_ajuste span {
  padding-left: 15px; }

.nav_media, .nav_icon, input {
  display: none; }

@media all and (max-width: 968px) {
  .nav_diseño ul {
    margin-right: 0px;
    float: left; }
  .nav_logo {
    padding-left: 30px;
    width: 100%; }
  .nav_diseño ul li, .nav_diseño ul ul li {
    display: block;
    width: 100%; }
  .nav_diseño ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible; }
  .nav_diseño ul ul ul li {
    position: static; }
  .nav_diseño ul ul li {
    border-bottom: 0px; }
  .nav_diseño ul ul ul a {
    padding-left: 80px; }
  .nav_media {
    display: block;
    color: #ffffff;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer; }
  .nav_media:hover {
    color: #33ffff; }
  .nav_icon {
    display: block;
    color: #ffffff;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer; }
  .nav_media ul li a:hover {
    box-shadow: none; }
  .navmedia + a, .nav ul {
    display: none; }
  .nav_ajuste span {
    padding-left: 0px; }
  .nav_media + a, ul {
    display: none; }
  [id^=btn]:checked + ul {
    display: block; } }

/* nav de las paginas */
